.shCmm1
{
	color:#339933;
}
.shPre1
{
	color:#bb4411;
}
.shType1
{
	color:#5588aa;
	font-weight:bold;  
}
.shReser1
{
	color:#0000ff;
	font-weight:bold;  	
}
.shString1
{
	color:#dd0000;
}
.shCommon1
{
	color:#AA0099;
}
